
profiles {
    aws {
        docker.enabled = true
        params.container_sratools = '328315166908.dkr.ecr.us-west-2.amazonaws.com/sratools'
    }
    docker {
        docker.enabled = true
    }
    test {
        docker.enabled = true
        params.samplesheet = 'download_sra/test/test.runinfo_ftp.tsv'
        params.output_directory = 'download_sra/output'
    }
    test_fasta_reference {
        docker.enabled = true
        params.samplesheet = 'download_sra/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'download_sra/output'
        params.fasta_reference = 'download_sra/nextflow.config'
    }
    test_wget {
        docker.enabled = true
        params.samplesheet = 'download_sra/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'download_sra/output'
        params.wget = true
    }
}

params {
    container_aws = 'docker.io/library/amazonlinux'
    // container_sratools = 'registry.hub.docker.com/ncbi/sra-tools'
    container_sratools = 'velia_sratools'
    wget_ena_forks = 1
    s3_sra_cp_forks = 1
    sra_to_fastq_forks = 5
    errorStrategy = 'ignore'
    samplesheet = false
    output_directory = false
    fasta_reference = false
    wget = false
}

