
profiles {
    aws {
        docker.enabled = true
        params.container_fastqdownload = '328315166908.dkr.ecr.us-west-2.amazonaws.com/fastq_download'
    }
    docker {
        docker.enabled = true
    }
    test {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp.tsv'
        params.output_directory = 'output'
    }
    test_subsample {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp.tsv'
	    params.output_directory = 'output'
        params.subsample = true
    }
    test_fasta_reference {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'output'
        params.fasta_reference = 'nf_download/nextflow.config'
    }
    test_wget {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'output'
        params.wget = true
    }
}

params {
    container_aws = 'docker.io/library/amazonlinux'
    container_fastqdownload = 'fastq_download'
    wget_ena_forks = 1
    s3_sra_cp_forks = 2
    sra_to_fastq_forks = 15
    subsample_fastq_forks = 15
    pigz_threads = 8
    errorStrategy = 'ignore'
    samplesheet = false
    output_directory = false
    fasta_reference = false
    wget = false
    sampling_seed = 100
    sampling_depth = 50000000
    sampling_cutoff = 50000000
    subsample = false
}

