
profiles {
    aws {
        docker.enabled = true
        params.container_sratools = '328315166908.dkr.ecr.us-west-2.amazonaws.com/sratools'
    }
    docker {
        docker.enabled = true
    }
    test {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp.tsv'
        params.output_directory = 'output'
    }
    test_subsample {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp.tsv'
        params.output_directory = 'output'
        params.subsample = true
    }
    test_fasta_reference {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'output'
        params.fasta_reference = 'nf_download/nextflow.config'
    }
    test_wget {
        docker.enabled = true
        params.samplesheet = 'nf_download/test/test.runinfo_ftp_fasta.tsv'
        params.output_directory = 'output'
        params.wget = true
    }
}

params {
    container_aws = 'docker.io/library/amazonlinux'
    container_seqtk = 'quay.io/biocontainers/seqtk:1.3--hed695b0_2'
    // container_sratools = 'registry.hub.docker.com/ncbi/sra-tools'
    container_sratools = 'velia_sratools'
    wget_ena_forks = 1
    s3_sra_cp_forks = 1
    sra_to_fastq_forks = 5
    errorStrategy = 'ignore'
    samplesheet = false
    output_directory = false
    fasta_reference = false
    wget = false
    sampling_seed = 100
    sampling_depth = 100
    sampling_cutoff = 150
    subsample = false
}

