process {
	withName: STAR_ALIGN {
		memory = 100.GB
	}
}


params {
  saveReference = false

  // Largest SPOT instances available on AWS: https://ec2instances.info/
  max_memory = 240.GB
  max_cpus = 48
  max_time = 240.h
  skip_rseqc = true
  skip_genebody_coverage = true
  skip_preseq = true
  skip_dupradar = true
  skip_markduplicates = true
  skip_biotype_qc = true
  skip_featurecounts = true
  skip_qc = true
  skip_stringtie = true
  skip_bigwig = true
  // illumina iGenomes reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it's added later
  genome_base = "s3://velia-data-dev/VDC_004_annotation/genomes"

  // GENCODE GTF and fasta files
  genomes {
    'vdb_GRCh38.p14' {
      fasta             = "${params.genome_base}/GRCh38.p14/GRCh38.p14.genome.fa.gz"
      gtf               = "${params.genome_base}/GRCh38.p14/veliadb_v0c.gtf"
      transcript_fasta  = "${params.genome_base}/GRCh38.p14/rsem/genome.transcripts.fa"
      star              = "${params.genome_base}/GRCh38.p14/star/"
      salmon_index      = "${params.genome_base}/GRCh38.p14/salmon/"
      rsem_index        = "${params.genome_base}/GRCh38.p14/rsem/"

    }
  }
}
